:host {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "town-select town-date-select town-gold";

    align-items: center;
    font-size: 16px;
}

.town-select {
    grid-area: town-select;
}

.town-date-select {
    grid-area: town-date-select;
    margin-bottom: -1.3em;
}

.town-gold {
    grid-area: town-gold;
    justify-self: center;
    padding-top: 1em;
}
